* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    outline: 0;
}

body {
    background-color: black;
}

.text {
    font-family: Ubuntu-Regular;
    color: white;
    text-align: center;
}

.reddit {
    font-family: Ubuntu-Regular;
    color: rgb(255, 86, 0);
    text-align: center;
    transition: .5s;
    text-decoration: none;
}

.reddit:hover {
    color: rgb(0, 162, 255);
}

.civitai {
    font-family: Ubuntu-Regular;
    color: rgb(0, 162, 255);
    text-align: center;
    transition: .5s;
    text-decoration: none;
}

.civitai:hover {
    color: rgb(255, 0, 106);
}

.tg {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    opacity: 0;
    overflow-x: hidden;
    transition: .5s;
    backdrop-filter: blur(20px);
}

.warning {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 3;
    opacity: 1;
    overflow-x: hidden;
    transition: .5s;
    backdrop-filter: blur(20px);
}

.imgshow {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(20px);
    position: fixed;
    z-index: -1;
    opacity: 0;
    overflow-x: hidden;
    transition: .75s;
}

.quan {
    width: 100%;
    backdrop-filter: blur(20px);
    position: fixed;
	top: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0;
    overflow-x: hidden;
    transition: .75s;
}

.devochki {
    box-shadow: 0 0 7px 5px rgba(255, 230, 0, 0.5);
    margin: 7px 13px;
    transition: 1s;
    cursor: zoom-in;
    width: 100px;
    height: 150px;
}

.devochki:hover {
    box-shadow: 0 0 3px 1px rgba(255, 230, 0, 0.5);
    transform: scale(1.4);
    cursor: zoom-in;
}

.qn {
    font-family: Ubuntu-Regular;
    text-decoration: none;
    color: rgb(255, 230, 0);
    transition: .5s;
    cursor: pointer;
}

.qn:hover {
    color: aqua;
}

.okbutton {
    color: white;
    text-decoration: none;
    font-family: Ubuntu-Regular;
    cursor: pointer;
    padding-top: 10px;
    transition: .5s;
}

.okbutton:hover {
    color: greenyellow;
}